// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// 思源黑體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    line-height: 1.5;
    font-family: "Roboto", "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.fs-1{ font-size: $fs-1; } // 32px
.fs-2{ font-size: $fs-2; } // 28px
.fs-3{ font-size: $fs-3; } // 24px
.fs-4{ font-size: $fs-4; } // 20px
.fs-5{ font-size: $fs-5; } // 16px
.fs-6{ font-size: $fs-6; } // 14px

.fs-h1{ font-size: $fs-h1; font-weight: bold; } // 64px
.fs-h2{ font-size: $fs-h2; font-weight: bold; } // 48px
.fs-h3{ font-size: $fs-h3; font-weight: bold; } // 36px
.fs-h4{ font-size: $fs-h4; font-weight: bold; } // 32px
.fs-h5{ font-size: $fs-h5; font-weight: bold; } // 24px
.fs-h6{ font-size: $fs-h6; font-weight: bold; } // 20px

@media (max-width: 992px){
    .fs-lg-1{ font-size: $fs-1; } // 32px
    .fs-lg-2{ font-size: $fs-2; } // 28px
    .fs-lg-3{ font-size: $fs-3; } // 24px
    .fs-lg-4{ font-size: $fs-4; } // 20px
    .fs-lg-5{ font-size: $fs-5; } // 16px
    .fs-lg-6{ font-size: $fs-6; } // 14px
    
    .fs-lg-h1{ font-size: $fs-h1; font-weight: bold; } // 64px
    .fs-lg-h2{ font-size: $fs-h2; font-weight: bold; } // 48px
    .fs-lg-h3{ font-size: $fs-h3; font-weight: bold; } // 36px
    .fs-lg-h4{ font-size: $fs-h4; font-weight: bold; } // 32px
    .fs-lg-h5{ font-size: $fs-h5; font-weight: bold; } // 24px
    .fs-lg-h6{ font-size: $fs-h6; font-weight: bold; } // 20px
}

@media (max-width: 576px){
    .fs-sm-1{ font-size: $fs-1; } // 32px
    .fs-sm-2{ font-size: $fs-2; } // 28px
    .fs-sm-3{ font-size: $fs-3; } // 24px
    .fs-sm-4{ font-size: $fs-4; } // 20px
    .fs-sm-5{ font-size: $fs-5; } // 16px
    .fs-sm-6{ font-size: $fs-6; } // 14px
    
    .fs-sm-h1{ font-size: $fs-h1; font-weight: bold; } // 64px
    .fs-sm-h2{ font-size: $fs-h2; font-weight: bold; } // 48px
    .fs-sm-h3{ font-size: $fs-h3; font-weight: bold; } // 36px
    .fs-sm-h4{ font-size: $fs-h4; font-weight: bold; } // 32px
    .fs-sm-h5{ font-size: $fs-h5; font-weight: bold; } // 24px
    .fs-sm-h6{ font-size: $fs-h6; font-weight: bold; } // 20px
}