<nav class="nav bg-primary color-white">
    <div class="container-md-fluid">
        <div class="nav-row">
            <h1 class="nav-logo">
                <a href="/pages/index.html"><img src="/assets/images/logo-white.png" alt="logo"></a>
            </h1>
            <ul class="d-flex nav-links fs-4">
                <li>
                    <a class="link-hover" href="#">系列鏡框</a>
                </li>
                <li>
                    <a class="link-hover" href="#">門市據點</a>
                </li>
                <li>
                    <a class="link-hover" href="#">部落格</a>
                </li>
                <li>
                    <a class="link-hover" href="#">常見問題</a>
                </li>
            </ul>
        </div>
    </div>
</nav>