
.link-hover{
    transition: all 0.2s;
}

.link-hover:hover{
    color: rgba(white, 0.7);
}

.btn{
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
}

.btn-lg{
    padding: 16px 24px;
}

.btn-primary{
    background-color: $color-primary;
    &:hover{
        background-color: $color-secondary;
    }
}

.btn-black{
    background-color: $color-black;
    &:hover{
        background-color: $color-primary;
    }
}

.banner{
    height: calc(100vh - 80px);
    background-image: url(/assets/images/home-header.png);
    background-position: center center;
    background-size: cover;
    color: $color-secondary;
}

.banner-wrapper{
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    .fs-h3{
        font-weight: normal;
    }
}

.banner-slogan{
    margin-bottom: 4px;
}

@media (max-width: 992px){
    .banner{
        background-image: url(/assets/images/home-header-sm.png);
    }
}

@media (max-width: 767px){
    .banner{
        height: 600px;
    }
}

@media (max-width: 576px){
    .banner{
        height: 396px;
    }
    .banner-slogan{
        margin-bottom: 8px;
    }
}

.index-title{
    text-align: center;
    margin-bottom: 48px;
}

.feature-list{
    flex-wrap: wrap;
}

.feature-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-icon{
    width: 100px;
    height: 100px;
}

@media (max-width: 992px){
    .classic-list{
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}

.classic-img-title{
    font-style: italic;
    text-align: center;
}

.cobrand{
    background-image: url(/assets/images/index-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.cobrand-display{
    flex-wrap: wrap;
}

.cobrand-display-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 240px;
}

.cobrand-display-img-1{
    background-image: url(/assets/images/home-section4-1.png);
}

.cobrand-display-img-2{
    background-image: url(/assets/images/home-section4-2.png);
}

.cobrand-display-title{
    background-color: #fff;
    text-align: center;
    font-style: italic;
}

@media (max-width: 767px){
    .cobrand-display{
        gap: 24px;
    }
}

@media (max-width: 576px){
    .cobrand-display-img-1{
        background-image: url(/assets/images/home-section4-1-sm.png);
    }
    
    .cobrand-display-img-2{
        background-image: url(/assets/images/home-section4-2-sm.png);
    }
}

.recommend-card{
    height: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
}

.recommend-content{
    height: 205px;
    padding: 16px;
    flex-direction: column;
}
.recommend-date{
    color: $color-darkGray;
    margin-top: auto;
}

.contact-form-wrapper{
    flex-direction: column;
    align-items: center;
}
.form-row{
    display: flex;
    flex-direction: column;
}

.form-label{
    margin-bottom: 8px;
}

.form-input{
    padding: 6px 12px;
    border: 1px solid #000;
    line-height: 1.5;
}

.form-textarea{
    height: 136px;
}

.agree{
    display: none;
}

.agree:checked ~ .agree-label{
    background-image: url(/assets/images/ic_check_box_outline_blank_checked_24px.png);
}

.agree-label{
    background-image: url(/assets/images/ic_check_box_outline_blank_24px.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: top -1px left;
    padding-left: 30px;
}

// 門市據點

.pages-wrapper{
    padding-top: 96px;
    padding-bottom: 80px;
}

.pages-title{
    border-left: 8px solid $color-primary;
    padding-left: 16px;
}

.select-row {
    gap: 16px;
    select {
        font-size: 18px;
        width: 304px;
        border: 1px solid #CED4DA;
        color: rgba(#495057, 0.75);
        padding: 6px 12px;
        appearance: none;
        background-image: linear-gradient(45deg, transparent 50%, $color-black 50%), linear-gradient(135deg, $color-black 50%, transparent 50%);
        background-position: calc(100% - 20px) 12px, calc(100% - 15px) 12px;
        background-size: 5px 5px, 5px 5px;
        background-repeat: no-repeat;
    }
}

.store-list-row{
    gap: 48px 0;
}
.store-name{
    border: 1px solid rgba($color-black, 0.2);
    padding: 8px 24px;
}
.store-info{
    border: 1px solid rgba($color-black, 0.2);
    padding: 16px 26px;
}
.store-info-icon{
    padding-top: 4px;
}

.store-map .map{
    height: 100%;
}

@media (max-width: 992px){
    .store-map{
        .store-card{
            display: flex;
            img{
                width: 50%;
                margin-right: 24px;
                object-fit: cover;
            }
        }
        .map{
            height: 414px;
        }
    }
    .store-map-row{
        gap: 24px;
    }
}

@media (max-width: 576px){
    .selectStore-label{
        flex: 0 0 80px;
    }
    .store-map{
        .store-card{
            display: block;
            img{
                width: 100%;
                margin-right: 0;
                object-fit: none;
            }
        }
        .map{
            height: 208px;
        }
    }
}