<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2024切版直播班第四週 - 眼鏡網站</title>
  </head>
  <body>
    <%- include('./layout/nav'); %>

    <header class="banner">
      <div class="container d-flex banner-wrapper">
          <h3 class="fs-h3 fs-lg-h5 fs-sm-5">Promise-Desert 2020 早春系列</h3>
          <h2 class="fs-h1 fs-lg-h2 fs-sm-h5 banner-slogan">看得清，才能看得遠</h1>
          <div class="btn fs-4">立即購買</div>
      </div>
  </header>
  <section class="feature bg-tertiary">
      <div class="container py-80 py-sm-60">
          <h2 class="fs-h2 color-secondary fs-sm-h5 index-title">用專業的心，做專業的事</h2>
          <ul class="row feature-list">
              <li class="feature-list-item col-3 col-lg-6 mb-lg-24 col-sm-12">
                  <img src="/assets/images/home-section2-1.png" class="feature-icon mb-16" alt="price">
                  <h3 class="fs-h5 color-secondary mb-8">單一價格</h3>
                  <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
              </li>
              <li class="feature-list-item col-3 col-lg-6 mb-lg-24 col-sm-12">
                  <img src="/assets/images/home-section2-2.png" class="feature-icon mb-16" alt="time">
                  <h3 class="fs-h5 color-secondary mb-8">20 分鐘即可取件</h3>
                  <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
              </li>
              <li class="feature-list-item col-3 col-lg-6 col-sm-12 mb-sm-24">
                  <img src="/assets/images/home-section2-3.png" class="feature-icon mb-16" alt="heart">
                  <h3 class="fs-h5 color-secondary mb-8">安心售後服務</h3>
                  <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
              </li>
              <li class="feature-list-item col-3 col-lg-6 col-sm-12">
                  <img src="/assets/images/home-section2-4.png" class="feature-icon mb-16" alt="glass">
                  <h3 class="fs-h5 color-secondary mb-8">關於鏡片</h3>
                  <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
              </li>
          </ul>
      </div>
  </section>
  <section class="classic">
      <div class="container py-80 py-sm-60">
          <h2 class="fs-h2 color-secondary fs-sm-h5 index-title">經典系列鏡框</h2>
          <ul class="row classic-list">
              <li class="col-4 col-lg-6 col-sm-12">
                  <img src="/assets/images/home-section3-1.png" class="classic-img" alt="POTICAL">
                  <h3 class="classic-img-title fs-h2 color-primary">POTICAL</h3>
              </li>
              <li class="col-4 col-lg-6 col-sm-12">
                  <img src="/assets/images/home-section3-2.png" class="classic-img" alt="SUNGLASSES">
                  <h3 class="classic-img-title fs-h2 color-primary">SUNGLASSES</h3>
              </li>
              <li class="col-4 col-lg-6 col-sm-12">
                  <img src="/assets/images/home-section3-3.png" class="classic-img" alt="FUNCTIONAL">
                  <h3 class="classic-img-title fs-h2 color-primary">FUNCTIONAL</h3>
              </li>
          </ul>
      </div>
  </section>
  <section class="cobrand">
      <div class="container py-80 py-sm-60">
          <h2 class="fs-h2 color-white fs-sm-h5 index-title">聯名設計鏡框</h2>
          <ul class="d-flex cobrand-display">
              <li class="w-50 w-md-100">
                  <div class="cobrand-display-img cobrand-display-img-1"></div>
                  <h3 class="fs-h2 color-primary cobrand-display-title">DOUBLE A+</h3>
              </li>
              <li class="w-50 w-md-100">
                  <div class="cobrand-display-img cobrand-display-img-2"></div>
                  <h3 class="fs-h2 color-primary cobrand-display-title">YOUTH</h3>
              </li>
          </ul>
      </div>
  </section>
  <section class="recommend">
      <div class="container py-80 py-sm-60">
          <h2 class="fs-h2 color-secondary fs-sm-h5 index-title">顧客推薦</h2>
          <ul class="row recommend-cards">
              <li class="col-3 col-lg-6 mb-lg-24 col-sm-12 mb-sm-16">
                  <div class="recommend-card">
                      <img src="/assets/images/home-section5-1.png" alt="Jessy">
                      <div class="recommend-content d-flex">
                          <p>Jessy</p>
                          <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                          <p class="fs-6 recommend-date">2021/06/20</p>
                      </div>
                  </div>
              </li>
              <li class="col-3 col-lg-6 mb-lg-24 col-sm-12 mb-sm-16 ">
                  <div class="recommend-card">
                      <img src="/assets/images/home-section5-2.png" alt="凱倫">
                      <div class="recommend-content d-flex">
                          <p>凱倫</p>
                          <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                          <p class="fs-6 recommend-date">2021/04/18</p>
                      </div>
                  </div>
              </li>
              <li class="col-3 col-lg-6 col-sm-12 mb-sm-16">
                  <div class="recommend-card">
                      <img src="/assets/images/home-section5-3.png" alt="悠悠">
                      <div class="recommend-content d-flex">
                          <p>悠悠</p>
                          <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                          <p class="fs-6 recommend-date">2020/12/25</p>
                      </div>
                  </div>
              </li>
              <li class="col-3 col-lg-6 col-sm-12">
                  <div class="recommend-card">
                      <img src="/assets/images/home-section5-4.png" alt="Kyuan">
                      <div class="recommend-content d-flex">
                          <p>Kyuan</p>
                          <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                          <p class="fs-6 recommend-date">2020/10/31</p>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </section>
  <section class="contact bg-tertiary">
      <div class="container py-80 py-sm-60">
          <h2 class="fs-h2 color-secondary fs-sm-h5 index-title">聯絡我們</h2>
          <div class="row contact-form-wrapper">
              <div class="col-6 col-lg-10 col-sm-12">
                  <p class="fs-4 fs-lg-5 mb-24">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                  <form class="contact-form">
                      <div class="form-row mb-16">
                          <label class="form-label" for="name">姓名</label>
                          <input class="form-input bg-tertiary fs-5" type="text" id="name" placeholder="陳小明">
                      </div>
                      <div class="form-row mb-16">
                          <label class="form-label" for="mobile">聯絡電話</label>
                          <input class="form-input bg-tertiary fs-5" type="text" id="mobile" placeholder="0912-345-678">
                      </div>
                      <div class="form-row mb-16">
                          <label class="form-label" for="email">電子郵件</label>
                          <input class="form-input bg-tertiary fs-5" type="text" id="email" placeholder="example@email.com">
                      </div>
                      <div class="form-row mb-16">
                          <label class="form-label" for="opinion">意見反應</label>
                          <textarea class="form-input form-textarea bg-tertiary fs-5" name="" id="opinion" placeholder="請輸入您的意見"></textarea>
                      </div>
                      <div class="form-row mb-16">
                          <input type="checkbox" id="agree" class="agree">
                          <label for="agree" class="agree-label">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                      </div>
                  </form>
              </div>
              <div class="col-3 col-lg-6 col-sm-12">
                  <div class="btn btn-lg fs-5">確認送出</div>
              </div>
          </div>
      </div>
  </section>

    <%- include('./layout/footer'); %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
