<!DOCTYPE html>
<html lang="zh-tw">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>2024切版直播班第四週 - 眼鏡網站</title>
    </head>
    <body>
        <%- include('./layout/nav'); %>

            <main class="pages-wrapper">
                <header class="pages-header mb-32">
                    <div class="container">
                        <h2 class="fs-h2 fs-sm-h5 pages-title">門市據點</h2>
                    </div>
                </header>

                <section class="store-select mb-40">
                    <div class="container">
                        <div class="select-row d-flex">
                            <label for="selectStore" class="fs-4 selectStore-label">選擇分店</label>
                            <select name="" id="selectStore" class="selectStore">
                                <option value="">台北中山旗艦店</option>
                                <option value="">台北綠園店</option>
                                <option value="">台中清水旗艦店</option>
                                <option value="">高雄中正形象店</option>
                                <option value="">高雄夢時代店</option>
                            </select>
                        </div>
                    </div>
                </section>

                <section class="store-map">
                    <div class="container">
                        <div class="row store-map-row">
                            <div class="col-5 col-lg-12">
                                <div class="store-card">
                                    <img src="/assets/images/storepage-1.png" alt="store-1">
                                    <div>
                                        <p class="fs-4 store-name">台北中山旗艦店</p>
                                        <div class="store-info">
                                            <ol class="d-flex flex-column gap-8">
                                                <li>
                                                    <p class="fs-4 d-flex align-start">
                                                        <span class="material-symbols-outlined mr-8 fs-4 store-info-icon">call</span>電話：(02)000-1234
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="fs-4 d-flex align-start">
                                                        <span class="material-symbols-outlined mr-8 fs-4 store-info-icon">schedule</span>營業時間：10:00-21:00
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="fs-4 d-flex align-start">
                                                        <span class="material-symbols-outlined mr-8 fs-4 store-info-icon">location_on</span>地址：台北市中山區南京東路25巷2-1號
                                                    </p>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7 col-lg-12">
                                <div class="map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.458523836169!2d121.52910539999999!3d25.052443600000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a966f6fc092d%3A0x9f740ea896779b57!2zMTA0OTHlj7DljJfluILkuK3lsbHljYDljZfkuqzmnbHot6_kuozmrrUyNeiZnw!5e0!3m2!1szh-TW!2stw!4v1722955535839!5m2!1szh-TW!2stw" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </section>

                </main>

                <%- include('./layout/footer'); %>

                    <script type="module" src="../main.js"></script>
                </body>
            </html>